<div class="row">
  <div class="col-4">
    <div class="personal_info d-flex flex-column justify-content-center align-items-center">
      <%= image_tag "_personal_pic.png", class:"img-fluid" %>
      <h1>Brenno Matthias Pereira</h1>
      <h2>UI/UX Designer <br>
         Web Designer / Web Developer <br>
         Full Stacl Developer</h2>
    </div>
  </div>
  <div class="col">
    <p>My name is Brenno and, </p>
    <p>I am a Full Stack Developer and UI/UX Designer. I have successfully worked on several design and development project implementations for various clients during my career.</p>
    <p>I am a passionate Bachelor of Computer Science with over 10 years of experience in creating and developing brands and visual identities, creating and developing websites and art direction.</p>
    <p>I am driven by the spirit of learning, analyzing and sharing. An organized, motivated, responsible and enthusiastic person with excellent time management and attention to detail.</p>
    <p>Also, I can work on tight deadlines and in a high-pressure environment with simultaneous demands and a lot of responsibility and commitment to work in a team environment.</p>
    <p>In my process of analysis and development I am responsible for:</p>
    <ul>
      <li>Ensure that the designed design meets all users' needs, ensuring their satisfaction when interacting with the company, platforms or brands. </li>
      <li>The elaboration of user navigation maps, usability tests, creation </li>
      <li>Development and implementation of innovative and attractive solutions, application prototyping (desktop, web, mobile), user flow and processes, linking communicative interaction to Design ideas.</li>
      <li>Elaboration of the quality tests of the developed application</li>
      <li>Along with customer feedback, I optimize the platforms created, performing the documentation of all processes.</li>
      <li>Benchmarks, improvement studies, creating navigability standards aimed at optimizing performance, engagement and conversion rates for platforms like desktops applications, web applications and mobiles.
    Above all, I am always looking forward to improving hard and light skills.</li>
    </ul>
  </div>
</div>
