<div class="row">
  <div class="col-md-4">
    <%= image_tag "_friends.png", class:"front-pic-friends" %>
  </div>
  <div class="col d-flex justify-content-start align-items-center flex-column">
    <h1 class="bigfont-title">Welcome to Your personal contacts info page</h1>
    <hr>
        <h5 class="mb-5">Thank You for using the personal contacts info page</h5>
        <ul class="instructions">
            <li>To start using the personal contact information page, you need to be registered or logged in (because your personal contacts belong only to you, right?)</li>
            <li>So is very easy to register, just click on the button above in the right corner and register your name and email. Simple like that.</li>
            <li>If You already registered your user just click on the button above on the right corner and log in with your user and password. Amazing easy peasy!</li>
        </ul>
  </div>
</div>