<div class="bg-dark bg-opacity-75 text-white p-2 rounded-top">
  <div class="row d-flex align-items-center">
    <div class="col">
      <strong><i class="far fa-id-card"></i> New contact</strong>
    </div>
  </div>
</div>
<%= render "form", contact: @contact %>

<div class="mt-3 p-3">
<%= link_to contacts_path, class:"btn btn-info" do %>
  <i class="far fa-arrow-alt-circle-left"></i> Back
<% end %> 
</div>
