<%= render @contact %>
<div class="d-flex justify-content-end mt-1 p-2">
  <%= link_to contacts_path, class:"btn btn-secondary me-1" do %>
    <i class="fas fa-clipboard-list"></i> Back to contacts list
  <% end %>
  <%= link_to edit_contact_path(@contact), class:"btn btn-success me-1" do %>
    <i class="far fa-arrow-alt-circle-left"></i> Edit
  <% end %>
  <%= button_to @contact, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-danger me-1", alt:"Delete", title:"Delete" do %>
    <i class="far fa-times-circle"></i> Delete
  <% end %>
</div>
