@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

a,
input:focus,
.form-control:focus,
button {
    outline: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
}


/********************************/

.bg-darkblue {
    background: #355070;
}

.bg-green {
    background: #c7f9cc;
}

.bg-green2 {
    background: #619b8a;
}

.text-darkblue {
    color: #355070;
}

.cont-main {
    min-height: 70vh;
    background: linear-gradient(45deg, #eff7ef, #fff);
}

.box-icon {
    background: #fff;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    min-height: 330px;
    margin-top: 50px;
    padding: 1em;
    border-radius: 5px;
    background: #c7f9cc;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.box .btn-success {
    background: #619b8a;
    color: #355070;
    border: none;
}

.box-register {
    display: flex;
    flex-direction: column;
    min-height: 330px;
    margin-top: 50px;
    padding: 1em;
    border-radius: 5px;
    background: #fcca46;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.box-register ul {
    min-height: 200px;
}

.box-register .btn-success {
    background: #c7f9cc;
    color: #355070;
    border: none;
}

.box input[type="email"],
.box input[type="password"] {
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.box input[type="checkbox"],
.box label {
    margin-top: 1em;
    margin-bottom: 1em;
}

.box label {
    margin-left: 10px;
}

.front-pic-friends {
    width: 100%;
}

.bigfont-title {
    margin: 1em 0;
    width: 80%;
    text-align: center;
    font-size: 3em;
    font-family: "Gravitas One", cursive;
    transform: skewY(-1deg);
    color: #eaac8b;
    text-shadow: 0 2px 1px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878, -3px 7px 1px #7a7a7a, -4px 9px 1px #7f7f7f;
}

.logo {
    width: 50px;
    height: auto;
    background: none;
}

.navigation .nav-link {
    color: #fff;
}

.navigation .nav-link:hover {
    background: #fff !important;
    border-radius: 5px;
    color: #000 !important;
}

.instructions {
    list-style: circle;
}

.instructions li {
    margin-bottom: 1em;
}

.social {
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.linkedin:hover {
    color: #2867b2;
    transform: rotate(360deg);
}

.github:hover {
    color: #6cc644;
    transform: rotate(360deg);
}

.gmail:hover {
    color: #c71610;
    transform: rotate(360deg);
}

.register-link .nav-link {
    color: #355070;
}